<% content_for :content do %>
  <%= render "common/getting_started" %>
<% end %>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
  <p><%= @player.game %></p>
  <p><%= @player %></p>
<% end %>
