<div class="nav pure-u">
  <div class="nav-inner">
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <%= render "admin/nav-item", name: 'Home 🏡', path: admin_index_path %>

        <%= render "admin/nav-item", name: 'Games 🎲', path: admin_games_path %>

        <%= render "admin/nav-item", name: 'Settings 🛠️', path: admin_settings_path %>
      </ul>
    </div>
  </div>
</div>
