<h1>Administration Section</h1>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <p>This page has no specific goal but to say hello ❤️ 👋.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <p>There has been a total of <b><%= @games.count %> games played</b> here.</p>
        <p>There are currently <b><%= @games.with_ongoing_state.count %> games being played</b> right now.</p>
        <p>
          To see the list of games or <b>create your own game</b> take a look at the menu or
          <%= link_to 'Click here', admin_games_path %>
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
<% end %>
