<h1>List of games</h1>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <p>The following table lists all games played on this website.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <% if @games.present? %>
      <table class="pure-table pure-table-striped pure-table-horizontal">
        <thead>
          <tr>
            <th>Name
              <%= order_link(:name, order: @order) %>
            </th>
            <th>State
              <%= order_link(:workflow_state, order: @order) %>
            </th>
            <th>Created at
              <%= order_link(:created_at, order: @order) %>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td><%= link_to game.name.blank? ? 'Unnamed game' : game.name, admin_game_url(game) %></td>
              <td><%= game.workflow_state %></td>
              <td><%= game.created_at %></td>
              <td>
                <%= render_game_actions(game) %>
              </td>
            </tr>
        </tbody>
      <% end %>
      </table>
    <% else %>
      <b>No games found!</b>
    <% end %>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <%= link_to '➕ Create a new game',
                new_admin_game_path,
                class: 'btn pure-button' %>
  </div>
</div>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
<% end %>
