<h1>Admin - Games#new</h1>

<div class="container mt-3">
  <div class="row">
    <%= form_with url: admin_games_path, scope: :game, local: true do |form| %>
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>

      <p>
        <%= form.submit nil, class: 'pure-button pure-button-primary btn' %>
        <%= link_to 'Back', admin_games_path, class: 'pure-button btn' %>
      </p>
    <% end %>
  </div>
</div>


<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
<% end %>
