<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h1>Administration page <small class="text-muted">(don't share link publicly)</small></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h3>Game details</h3>
      <table class="pure-table pure-table-striped pure-table-horizontal">
        <thead>
          <tr>
            <th><em>Name</em></th>
            <th><em>State</em></th>
            <th><em>Round</em></th>
            <th><em>Actions</em></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @game.name %></td>
            <td><%= @game.workflow_state %></td>
            <td><%= @game&.current_round&.number %>/<%= Setting.find_by_key(Setting::CONFIGURABLE_ROUNDS_COUNT) %></td>
            <td><%= render_game_actions(@game) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Buyers
        <% if @game.finished? %>
          <small>
            <%= link_to(results_admin_game_url(id: @game.id, type: Buyer),
                        title: "Download buyers results as CSV",
                        class: "text-muted",
                        target: "_blank") { "🖇️  results " }
            %>
          </small>
        <% end %>
      </h3>
      <table class="pure-table pure-table-striped pure-table-horizontal">
        <thead>
          <tr>
            <th><em>Name</em></th>
            <th><em>State</em></th>
            <th><em>Money</em></th>
            <th><em>Utility</em></th>
            <th><em>Bret</em></th>
            <th><em>Actions</em></th>
          </tr>
        </thead>
        <tbody>
          <% @game.buyers.each do |buyer| %>
            <tr>
              <td><%= buyer.name %></td>
              <td>
                <%= buyer.workflow_state %>
                <small class="<%= buyer.online? ? 'text-success' : 'text-danger' %>">
                  (<%= buyer.online? ? 'online' : 'offline' %>)
                </small>
              </td>
              <td><%= buyer.money %></td>
              <td><%= buyer.utility %></td>
              <td>
                <% if buyer.bret_boxes_collected %>
                  <span class="text-<%= ['0.00','0'].include?(buyer.bret_payoff) ? 'danger' : 'success' %>">
                    <%= buyer.bret_boxes_collected %>/100
                  </span>
                <% end %>
              </td>
              <td>
                <%= render_player_actions(buyer) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
      <h3>Sellers
        <% if @game.finished? %>
          <small>
            <%= link_to(results_admin_game_url(id: @game.id, type: Seller),
                        title: "Download sellers results as CSV",
                        class: "text-muted",
                        target: "_blank") { "🖇️  results " }
            %>
          </small>
        <% end %>
      </h3>
      <table class="pure-table pure-table-striped pure-table-horizontal">
        <thead>
          <tr>
            <th><em>Name</em></th>
            <th><em>State</em></th>
            <th><em>Certificate</em></th>
            <th><em>Money</em></th>
            <th><em>Profit</em></th>
            <th><em>Bret</em></th>
            <th><em>Actions</em></th>
          </tr>
        </thead>
        <tbody>
          <% @game.sellers.each do |seller| %>
            <tr>
              <td><%= seller.name %></td>
              <td>
                <%= seller.workflow_state %>
                <small class="<%= seller.online? ? 'text-success' : 'text-danger' %>">
                  (<%= seller.online? ? 'online' : 'offline' %>)
                </small>
              </td>
              <td><%= '⭐' * (seller.certificate || 0) %></td>
              <td><%= seller.money %></td>
              <td><%= seller.profit %></td>
              <td>
                <% if seller.bret_boxes_collected %>
                  <span class="text-<%= ['0.00','0'].include?(seller.bret_payoff) ? 'danger' : 'success' %>">
                    <%= seller.bret_boxes_collected %>/100
                  </span>
                <% end %>
              </td>
              <td>
                <%= render_player_actions(seller) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
  <p><%= @game %></p>
<% end %>
