<div class="container">
  <div class="row">
    <div class="col">
      <h1>Market experiments</h1>

      <p>Please wait for instructions from the organiser of the experiment</p>

      <p>If asked to do so, click on the relevant game available in the table below:</p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <% if @games.present? %>
        <table class="pure-table pure-table-striped pure-table-horizontal">
          <thead>
            <tr>
              <th>Name
              </th>
              <th>Created at
              </th>
            </tr>
          </thead>
          <tbody>
            <% @games.each do |game| %>
              <tr>
                <td><%= link_to game.name.blank? ? 'Unnamed game' : game.name, "#{request.protocol}#{request.host}:#{request.port}#{game.public_url}" %></td>
                <td><%= game.created_at %></td>
              </tr>
          </tbody>
        <% end %>
        </table>
      <% else %>
        <b>No games found!</b>
      <% end %>
    </div>
  </div>
</div>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
<% end %>
