<div class="container mt-3 pt-4">
  <div class="row">
    <div class="col">
      <h2>Hello 👋</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <p>By proceeding you agree to voluntarily participate in this
experimental session. This experiment is part of an academic research
on markets.</p>
      <p>
        Before starting please answer this quick survey. Your answers to both
the survey and the experiment will be <b>treated anonymously</b>.
      </p>
      <p>
        Thank you very much for participating.
      </p>
    </div>
  </div>
  <%= form_for @game, url: join_game_path(@game), method: :post, local: true do |f| %>
    <%= f.fields_for :player, @player do |player_form| %>
      <div class="row mt-4">
        <div class="col">
          <h3>Enter your initials followed by your day of birth</h3>
          <h4><small class="text-muted"><em>Exemple: David Bowie, born on the 9th of January, would enter <b>DB09</b></em></small></h4>

          <p>
            <%= player_form.text_field :name, placeholder: "Initials + Day of Birth" %>
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h3>How old are you?</h3>

          <p>
            <%= player_form.text_field :age, placeholder: "Age" %>
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h3>Your sex?</h3>

          <p>
            <%= player_form.select :sex, Setting::PLAYER_SEX_CHOICES, placeholder: "Sex", prompt: true %>
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <h3>Your profession?</h3>

          <p>
            <%= player_form.select :profession, Setting::PLAYER_JOB_CHOICES, placeholder: "Profession category", prompt: true %>
          </p>
        </div>
      </div>
    <% end %>
    <div class="row mt-5">
      <div class="col">
        <p>
          <em>What kind of player would you like to be?</em>
        </p>

        <p>
          <%= f.submit Buyer.to_s, class: 'pure-button pure-button-primary btn' %>
          <%= f.submit Seller.to_s, class: 'pure-button pure-button-primary btn' %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
  <p><%= @game %></p>
<% end %>
