// Place all the styles related to the Admin/Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: #000;

table.settings-table {
  td {
    &.value {
      font-weight: 600;
    }
    &.default {
      color: lighten($color, 50%);;
    }
    input {
        width: 5em;
    }
  }
}
