<h1>Settings</h1>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <p>The following table lists all settings used during games. You can modify them as you need.</p>
        <p><b>⚠️ Modifying the settings during a game can have uncontroller behaviors ⚠️</b></p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <% if Setting::CONFIGURABLE_KEYS.present? %>
      <table class="pure-table pure-table-striped pure-table-horizontal settings-table">
        <thead>
          <tr>
            <th>Key</th>
            <th class="value">Value</th>
          </tr>
        </thead>
        <tbody>
          <% Setting::CONFIGURABLE_KEYS.each do |key, default| %>
            <% setting = @settings.find_by_s_key(key) %>
            <tr>
              <% if setting.present? %>
                <td><%= key %></td>
                <td class="value">
                  <div class="row">
                    <div class="col-6">
                      <%= setting.value.inspect %>
                    </div>
                    <div class="col-6">
                      <%= link_to(admin_setting_url(setting),
                                  method: :delete,
                                  title: 'Back to default value',
                                  class: 'button-error pure-button btn mx-0',
                                  data: { confirm: 'Your custom setting will be replaced by the default value. Are you sure?' }) do %>
                        ❌
                    <% end %>
                    </div>
                  </div>
                </td>
              <% else %>
                  <td><%= key %></td>
                  <td class="value">
                    <%= form_with url: admin_settings_path, scope: :setting, local: true do |form| %>
                      <%= form.hidden_field :key, value: key %>
                      <div class="row">
                        <div class="col-6">
                          <%= form.text_field :value, value: Setting.find_by_key(key) %>
                        </div>
                        <div class="col-6">
                          <%= form.submit '✏️ ',
                                          title: 'Edit value',
                                          class: 'pure-button pure-button-primary btn mx-0' %>
                        </div>
                      </div>
                    <% end %>
                  </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <b>No settings found!</b>
    <% end %>
  </div>
</div>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
<% end %>
