<% content_for :content do %>
  <%= react_component 'GameBuyer',
                      {
                        config: Setting.config,
                        player: @player.me,
                        game: @player.game.serializable_hash({})
                      }
  %>
<% end %>

<% content_for :debug do %>
  <p>Find me in <%= __FILE__ %></p>
  <p><%= @player.game %></p>
  <p><%= @player %></p>
<% end %>
