// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base-color: #222;
$background: #eee;
$dark-background: rgb(37, 42, 58);
$dark-color: #fefefe;
$break-large: 40em;
$nav-width-large: 10em;

html {
  font-size: 16px;
}

a {
  .pure-button {
    text-decoration: none;
  }
}

.page {
  ul {
    margin: 1em 0;
    padding: 0 1em;

    > li {
      font-weight: 600;
      list-style: none;
      padding: .3em 0;
    }
  }
}

.content {
  @media screen and (min-width: $break-large) {
    padding-left: $nav-width-large;
    padding-bottom: 5em;
  }
  padding-bottom: 6em;
  position: relative;
}

.nav {
  background: $dark-background;
  color: $dark-color;
  height: 40px;
  position: relative;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $break-large) {
    bottom: 0;
    height: 100%;
    margin-left: -$nav-width-large;
    overflow: auto;
    position: fixed;
    top: 0;
    width: $nav-width-large;
  }

  @media screen and (max-width: $break-large) {
    height: 50%;
  }

  .nav-inner {
    display: block;
    padding: 2em 0;
  }

  .pure-menu {
    text-align: left;

    .pure-menu-link {
      color: $dark-color;
      margin: 0 0.5em;
      &:hover, &.active {
        background: rgba($dark-color, .1);
      }
    }
  }
}
