// Place all the styles related to the Buyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
  border: 1px solid transparent;

  .seller {
    color: white;
  }

  &.selectable {
    &:hover, &.selected {
      cursor: pointer;
      font-weight: 600;
      border: 1px solid #ddd;
      position: relative;
    }

    &.selected:after {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 2em;
      height: 2em;
      content: '✔️';
      padding-top: .2em;
      border: 2px solid #ccc;
      border-radius: 4em;
      margin: 0 auto;
    }
  }
}

.btn-block {
  white-space: normal;
}

.buyer-icon {
  img {
    max-width: 3em;
  }
}
