@import "bootstrap/scss/bootstrap";

$base-color: #222;
$background: #eee;
$disabled-input-range: #ccc;

.counter {
  border: 1px solid white;
}

.product {
  margin: 0 auto;
  text-align: center;

  .losange {
    overflow: hidden;
    position: relative;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    height: 1em;
    width: 1em;
    margin: 1.3em auto;
    @include media-breakpoint-up(sm) {
      height: 3em;
      width: 3em;
      margin: 1em auto;
    }

    .product-content {
      transform: rotate(-45deg) translateY(1em);
      z-index: 1000;
      position: absolute;
    }
  }
  img {
    margin: 1em;
    max-width: 40%;
  }
}


table {
  table-layout: fixed;
  @include media-breakpoint-up(sm) {
    table-layout: auto;
  }

  th {
    overflow: hidden;
  }

  td {
    margin: 0 auto;
    text-align: center;
  }

  .input-range--disabled {
    .input-range__track {
      background: $background!important;
    }

    .input-range__slider {
      background: $disabled-input-range!important;
    }
  }

  .product {
    width: 17%;
  }

  .product-price {
    width: 48%;
  }

  .product-quality {
    // width: 17%;
  }

  .product-cost {
    // width: 17%;
  }

  .product-profit {
    // width: 17%;
  }
}

// input {
//   &.product-price {
//     width: 2em !important;
//   }
// }

.debug {
  color: rgba($background, .6);
  font-style: italic;

  p {
    margin-bottom: 0;
  }
}

main.container {
  padding-bottom: 3em;
}

.footer {
  background: $base-color;
  bottom: 0;
  color: $background;
  height: auto;
  overflow: auto;
  padding: 0.5em 2em;
  position: fixed;
  text-align: center;
  width: 100%;
}
