// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.with-nav {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
