// Place all the styles related to the Sellers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'input-range/input-range';

table {
  &.table {
    tr {
      &.forced-quality {
        background-color: #eee !important;

        .input-range-wrapper {
          position: relative;
          display: block;
          float: right;
        }

        .input-range__track--background {
          background-color: #ddd !important;
        }

        .input-range--disabled {
          .input-range__track--active {
            background-color: #ddd !important;
          }
        }
      }
    }
    td {
      vertical-align: middle;
    }
  }
  &.table-bordered-head {
    .thead-dark {
      th {
        border: 2px solid #fff !important;
      }
    }
  }
}

.certificate {
  label.btn {
    display: block;
    margin: 0 auto;
    padding: .7em;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }
  .stars {
     text-shadow: 0px 0px 0px black;
  }
}
