<div class="container">
  <div class="row">
    <div class="col">
      <h2>Many thanks for your help 🙇‍♀️ 💚  💙️ 🙇‍♂️</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>One last thing</h2>
      <p>Please fill-in this quick questionnaire <a href="https://forms.gle/fJbDzGntifeoNMFS8">https://forms.gle/fJbDzGntifeoNMFS8</a> before we announce the global results!</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Goodbye <%= @player.name %>!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= react_component 'Live',
                          {
                            game: @player.game.serializable_hash({})
                          }
      %>
    </div>
  </div>
</div>
