<div class="row justify-content-center fixed-top mt-3">
  <div class="col-4">
    <% flash.each do |name, msgs| -%>
      <% [msgs].flatten.each do |msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{flash_to_bootstrap_alert(name)}", role: "alert" %>
      <% end %>
    <% end -%>
  </div>
</div>
