<div class="footer l-box">
  <p class="small">
    Made with ❤️ in Paris.
  </p>

  <% if Rails.env.development? %>
    <div class="small debug">
      <% if content_for(:debug) %>
        <%= yield(:debug) %>
      <% end %>
    </div>
  <% end %>
</div>
