<div class="container mb-5">
  <div class="row mb-3">
    <div class="col">
      <h2>Thanks for joining in! <small class="text-muted">First things first</small></h2>
      <p>Before starting the experience you will play a small game (1 minute) that will open in a new window. Once <b>finished</b> the new window should close automatically.</p>

      <a href="<%= @player.bret_session %>" id="bret-link" onclick="window.open(this.href, 'bret_game',
'left=20,top=20,width=620,height=720,toolbar=0,resizable=0'); this.innerHTML='done'; this.classList.add('disabled'); return false;" class="btn btn-primary">
        Play small game (1 minute)
      </a>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <h2>The experience will start soon <small class="text-muted">Please read the instructions</small></h2>
      <p>Explanation paragraph: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>

  <%= react_component 'Live',
                      {
                        game: @player.game.serializable_hash({})
                      }
  %>
</div>
