<title><%= local_assigns[:title] ? local_assigns[:title] : 'Thesis' %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="<%= image_path(local_assigns[:favicon] ? local_assigns[:favicon] : 'favicon.png') %>" rel="shortcut icon" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= action_cable_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'server_rendering', 'turbolinks-extra', 'data-turbolinks-track': 'reload' %>
