<div class="container">
  <div class="row">
    <div class="col">
      <h2>Go!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= react_component 'Game' %>
    </div>
  </div>
</div>
