<!DOCTYPE html>
<html>
  <head>
    <%= render "common/head", title: 'Thesis - Admin', favicon: 'admin/favicon.png' %>
  </head>

  <body>
    <div class="content">
      <%= render "admin/nav" %>

      <div class="container page">
        <%= render "common/flashes" %>

        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
