<!DOCTYPE html>
<html>
  <head>
    <%= render "common/head", title: 'Welcome 👋' %>
  </head>

  <body>
    <div class="container mb-5">
      <%= render "common/flashes" %>

      <div class="row">
        <%= yield %>
      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
