<!DOCTYPE html>
<html>
  <head>
    <%= render "common/head", title: "Error #{response.status}" %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>HTTP Error <%= response.status %></h1>
        </div>
      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
