<!DOCTYPE html>
<html>
  <head>
    <%= render "common/head", title: "#{@player.class} ⋅ Game on #{@player.name}!" %>
  </head>

  <body class="with-nav">
    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render "common/footer" %>
  </body>
</html>
